<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>webapilabclient</title>
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
</head>

<body ng-app="webapilabclient" ng-controller="membersController as vm">
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center orange-text">ASP.NET Web API Lab</h1>
            <div class="row center">
                <h5 class="header col s12 light">Materialize. A modern responsive front-end framework based on Material Design</h5>
            </div>
            <div class="row center">
                <a ng-click="vm.getMembers()" class="btn waves-effect waves-light orange">Get members</a>
            </div>
            <div class="row center">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="townToSearch" type="text" class="validate" ng-model="vm.townToSearch">
                            <label for="townToSearch">Town to search</label>
                        </div>
                        <div class="input-field col s6">
                            <a ng-click="vm.searchTown()" class="btn waves-effect waves-light">Search</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-repeat="member in vm.members">
            <card-Member info="member"></card-Member>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="town in vm.towns">
            <card-Town info="town"></card-Member>
        </div>
    </div>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>

</body>

</html>
