<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>webapilabclient</title>
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
</head>

<body ng-app="webapilabclient" ng-controller="membersController as vm">
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center orange-text">ASP.NET Web API Lab</h1>
            <div class="row center">
                <h5 class="header col s12 light">Materialize. A modern responsive front-end framework based on Material Design</h5>
            </div>
            <div class="row center">
                <a ng-click="vm.getMembers()" class="btn waves-effect waves-light orange">Get members</a>
            </div>
        </div>
    </div>

    <div class="row" data-source="members">
        <div ng-repeat="member in vm.members">
            <card-Member info="member"></card-Member>
        </div>
    </div>

    <script type="text/javascript">
    var webapilabclient = angular.module('webapilabclient', []);
    webapilabclient.controller('membersController', membersController).$inject = ['$http'];
    webapilabclient.directive('cardMember', function() {
        return {
            restric: 'A',
            scope: {
                memberInfo: '=info'
            },
            template: "<div class='col s12 m6'><div class='card blue-grey darken-1'><div class='card-content white-text'><span class='card-title'>{{memberInfo.Surname}}, {{memberInfo.Name}}</span><p>{{memberInfo.Departament}}&nbsp;</p></div></div></div>"
        };
    });

    function membersController($http) {
        var vm = this;
        vm.members = [];

        vm.getMembers = function() {
            var url = "http://webapi21668.azurewebsites.net/api/members";
            $http.get(url).
            success(function(data, status, headers, config) {
                var controllerElement = document.querySelector('[ng-controller="membersController as vm"]');
                var $scope = angular.element(controllerElement).scope();
                $scope.vm.members = data;
            }).
            error(function(data, status, headers, config) {
            });
        };
    }
    </script>
</body>

</html>
