<!-- Modal Structure -->
<div id="modal1" class="modal">
    <h4>Login </h4>
    <form class="form-login" role="form">
        <input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus/>
        <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required/>
        <div class="action-bar">
            <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="login()">Login</button>
        </div>
    </form>
</div>
