<div class="ui one column stackable center aligned page grid">
    <div class="column six wide ui segment margin-top-20">
        <div>
            <img class="ui small centered image" src="./images/hipster.png">
        </div>
        <div class="ui form margin-top-20">
            <form role="form">
                <div class="field">
                    <label>Username</label>
                    <input placeholder="User name" type="text" data-ng-model="loginData.userName" required autofocus>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input placeholder="Password" type="password" data-ng-model="loginData.password" required>
                </div>
                <div class="ui submit button" data-ng-click="login()">Log-in</div>
            </form>
        </div>
    </div>
</div>
